*,*::before, *::after {
    box-sizing: border-box; /*to ensure padding and border are included in element's total width and height*/
}

.header{
    position: relative; 
    top: 0; /*to position the header at the top*/
    width: 100%; /*full width of the page*/
    background: #F8F3ED;
    height: 100px;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); /*to add a subtle shadow for depth*/
    z-index: 999; /*to ensure it stays above other content*/
}

.navbar-container{
    display: flex; /*to use flexbox for layout*/
    justify-content: space-between; /*to push name to the left and links to the right*/
    align-items: center; /*to center items vertically*/
    margin: 0 auto; /*to center the container*/
    width: 100%; /*to limit the width of the navbar*/
    padding: 25px; /*padding for spacing*/
}

.site-name{ /*.header .navbar .navbar-container .navbar-left*/
    color: #000;
    font-family: 'lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 0 35px;
    letter-spacing: 0.05em; /*to add a slight spacing between letters*/
}

.navbar-right{
    list-style: none; /*to remove default list styling*/
    display: flex; /*to use flexbox for layout*/
    gap: 20px; /*spacing between links*/
    margin: 0; /*to remove default margin*/
    padding: 10px 40px 0 0; /*to remove default padding*/
}

.navbar-right li a{
    color: #000; 
    text-decoration: none; /*to remove underline from links*/
    font-family: 'lato', sans-serif;
    font-size: 1rem; /*font size for links*/
    font-weight: bold; /*to make the links slightly bolder*/
    /*border-radius: 4px; /*to give links a rounded corner*/
    transition: color 0.2s ease; /*smooth transition for hover effect*/
    /*padding: 8px 0; /*padding for clickable area*/
}

.navbar-right li a:hover, .navbar-right li a:focus{
    color: #7d8e34; /*change color on hover*/
    text-decoration: none; /*to keep the text decoration consistent*/
    outline: none; /*to remove focus outline for better aesthetics*/
}

main, .hero{
    padding-top: 70px; /*to ensure content is not hidden behind the fixed header*/
}

.hero{
    background: #F0E4D3; /*background color for the hero section*/
    padding: 50px 0; /*padding for spacing*/
    /*text-align: center; /*to center the content*/
    height: calc(100vh - 70px + 500px); /*to fill the viewport height minus the header height*/
}

.big{
    font-family: 'Cormorant'; /*font family for the heading*/
    font-size: 2rem; /*font size for the heading*/
    font-weight: normal;
    color: #000; /*color for the heading*/
    padding: 0 100px 20px 60px; 
    margin-top: 0;
    margin-bottom: 2px; /*margin below the heading*/
}

.line{
    width: 1130px; /*width of the line*/
    height: 2px; /*height of the line*/
    background-color: #000; /*color of the line*/
    margin: 0 30px 20px 60px; /*margin for spacing*/
}
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row h1{
    font-family: 'Cormorant'; /*font family for the subheading*/
    font-size: 1.75rem; /*font size for the subheading*/
    font-weight: bold;
    color: #000; /*color for the subheading*/
    max-width: 550px;
    padding: 0 50px 20px 60px; 
    margin-top: -90px;
    margin-bottom: 20px; /*margin below the subheading*/
}

.header-row p{
    font-family: 'lato', sans-serif; /*font family for the description*/
    font-size: 1.15rem; /*font size for the description*/
    color: #000; /*color for the description*/
    max-width: 700px;
    line-height: 1.5;;
    padding: 0 50px 20px 60px; 
    margin-top: 0;
    margin-bottom: 20px; /*margin below the description*/
}

.rect-container{
    position:relative;
    display: flex; /*to use flexbox for layout*/
    justify-content: center; /*to center the rectangles*/
    align-items: center; /*to center items vertically*/
    width: 700px;
    height: 700px;
    margin: -70px auto 0;
}

/*.rectangle{
   position: absolute;
   height: 300px;
   width: 350px;
   background-color: #9fa292;
   transform-origin: center;
}*/

.rect1{
    background-color: #A8864F;
    position: absolute;
    transform: rotate(174deg);
    width: 600px;
    height: 500px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*to add a subtle shadow for depth*/
    transform-origin: center center;
    z-index: 1;
    /*margin: 70px 100px 50px 100px;
    /*top: 50%;
    left: 50%;
    */
}

.rect2{
    background-color: #E6D1B0;
    position: absolute;
    transform: rotate(6deg);
    width: 600px;
    height: 500px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    transform-origin: center center;
    z-index: 2;
    /*top: 60%;
    left: 60%;*/
    
}

.image{
    position: absolute;
    width: 600px; /*width of the image*/
    height: autopx; /*height of the image*/
    /*object-fit: contain;*/
    z-index: 3;
    /*border-radius: 50%; /*to make the image circular*/
    /*overflow: hidden; /*to hide overflow content*/
}