*,*::before, *::after {
    box-sizing: border-box; /*to ensure padding and border are included in element's total width and height*/
}
body{
    scroll-behavior: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /*to prevent horizontal scrolling*/
}

.header, .header2{
    position: relative; 
    top: -5px; /*to position the header at the top*/
    width: 100%; /*full width of the page*/
    background: #F8F3ED;
    height: 100px;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); /*to add a subtle shadow for depth*/
    z-index: 999; /*to ensure it stays above other content*/
}

@media (max-width: 768px) {
    .header, .header2{
        height: 80px; /*to adjust height for smaller screens*/
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .header, .header2{
        height: 70px; /*to adjust height for smaller screens*/
        padding: 0 5px;
    }
}

.navbar-container{
    display: flex; /*to use flexbox for layout*/
    justify-content: space-between; /*to push name to the left and links to the right*/
    align-items: center; /*to center items vertically*/
    margin: 0 auto; /*to center the container*/
    width: 100%; /*to limit the width of the navbar*/
    height: 100%;
    padding: 25px; 
    position: relative;
}

@media (max-width: 768px) {
    .navbar-container{
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 15px 10px;
        /*justify-content: center;*/ 
    }
}

@media (max-width: 480px) {
    .navbar-container{
        flex-wrap: nowrap;
        padding: 10px 5px;
        justify-content: space-between; 
    }
}

.site-name{ /*.header .navbar .navbar-container .navbar-left*/
    color: #000;
    font-family: 'lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 0 35px;
    letter-spacing: 0.05em; 
}

@media (max-width: 768px) {
    .site-name{
        font-size: 0.9rem; 
        /*text-align: center;*/
        flex: 1 1 auto; /*to allow the site name to grow and shrink as needed*/
        text-align: left;
        padding: 0 0 0 10px;
        width: 100%;
        margin-bottom: 10px;

    }   
}

@media (max-width: 480px) {
    .site-name{
        font-size: 0.7rem; 
        padding: 0 0 0 5px;
        flex: 1 1 auto; /*to allow the site name to grow and shrink as needed*/
        text-align: left;
        min-width: 0;
        margin-top: 5px;
        margin-left: 5px; 
    }
}

.navbar-right{
    list-style: none; /*to remove default list styling*/
    display: flex; /*to use flexbox for layout*/
    gap: 20px; /*spacing between links*/
    margin: 0; /*to remove default margin*/
    padding: 10px 40px 0 0; /*to remove default padding*/
}

@media (max-width: 768px) {
    .navbar-right{
        /*flex-direction: column; /*to stack links vertically on smaller screens*/
        flex: 1 1 auto;
        text-align: right;
        gap: 10px;
        min-width: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar-right{
       gap: 6px; 
    }
}

/*#resume-id{
    color: #000;
    font-size: 1.3rem;
    font-family: "lato", sans-serif;
    font-weight: bold;
}*/

.navbar-right p{
    color: #000;  
    font-family: 'lato', sans-serif;
    font-size: 1.5rem; 
    font-weight: bold; 
    display: flex;
    /*border-radius: 4px;*/
    transition: color 0.2s ease; /*smooth transition for hover effect*/
    /*padding: 8px 0; */
}

@media (max-width: 768px) {
    .navbar-right p{
        font-size: 0.85rem; 
        flex: 1 1 auto;
        text-align: right;
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .navbar-right p{
        font-size: 0.65rem; 
        white-space: nowrap;        ;
    }
}

.navbar-right li a{
    color: #000; 
    text-decoration: none; /*to remove underline from links*/
    font-family: 'lato', sans-serif;
    font-size: 1rem; 
    font-weight: bold; 
    /*border-radius: 4px;*/
    transition: color 0.2s ease; /*smooth transition for hover effect*/
    /*padding: 8px 0; */
}

@media (max-width: 768px) {
    .navbar-right li a{
        font-size: 0.85rem; 
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .navbar-right li a{
        font-size: 0.65rem; 
        white-space: nowrap;        ;
    }
}

.navbar-right li a:hover, .navbar-right li a:focus{
    color: #7d8e34; 
    text-decoration: none; 
    outline: none; /*to remove focus outline for better aesthetics*/
}

/*main, .hero{
    padding-top: 0px; /*to ensure content is not hidden behind the fixed header*/
/*}

@media (max-width: 768px) {
    main, .hero{
        padding-top: 60px; /*to adjust padding for smaller screens*/
    /*}
/*}*/

.hero{
    background: #F0E4D3; /*background color for the hero section*/
    padding: 50px 0; /*padding for spacing*/
    /*text-align: center; /*to center the content*/
    margin-top: -5px;
    overflow: visible;
    min-height: calc(100vh - 100px); /*to fill the viewport height minus the header height*/
}

@media (max-width: 768px) {
    .hero{
        min-height: auto;
        padding: 30px 10px;
        /*height: calc(100vh - 60px + 400px); /*to adjust height for smaller screens*/
    }
}

@media (max-width: 480px) {
    .hero{
        min-height: auto;
        padding: 20px 5px;
        flex-direction: column;
        /*height: calc(100vh - 50px + 300px); /*to adjust height for smaller screens*/
    }
}

.big{
    font-family: 'Cormorant'; /*font family for the heading*/
    font-size: 2rem; /*font size for the heading*/
    font-weight: normal;
    color: #000; /*color for the heading*/
    padding: 0 100px 20px 60px; 
    margin-top: 0;
    margin-bottom: 2px; /*margin below the heading*/
}

@media (max-width: 768px) {
    .big{
        font-size: 1.5rem; 
        flex-direction: column;
        order: 1;
        text-align: center;
        padding: 0 20px 15px 20px; 
    }
}

@media (max-width: 480px) {
    .big{
        font-size: 1.2rem; 
        flex-direction: column;
        order: 1;
        padding: 0 10px 10px 10px; 
        margin-bottom: 0;
    }
}

.line{
    width: 1130px; /*width of the line*/
    height: 2px; /*height of the line*/
    background-color: #000; /*color of the line*/
    margin: 0 30px 20px 60px; /*margin for spacing*/
}

@media (max-width: 768px) {
    .line{
        width: 90%; 
        order: 2;
        margin: 0 auto 20px; /*to center the line*/
    }
}

@media (max-width: 480px) {
    .line{
        width: 95%; 
        order: 2;
        margin: 0 auto 15px; /*to center the line*/
    }
}

.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header-row{
        display: flex;
        flex-direction: column;
        flex: nowrap;
        justify-content: column;
        align-items: flex-start;
        margin: 0 auto 0;
    }
}

@media (min-width: 768px) {
    .header-row{
        font-size: 1.5rem; 
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 10px;
        order: 1;
        padding: 0 20px 15px 20px; 
        margin: 0px auto 0px;
    }
}

@media (max-width: 480px) {
    .header-row{
        display: flex;
        flex-direction: column;
        flex: nowrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto 0;
    }
}

.header-row h1{
    font-family: 'Cormorant'; /*font family for the subheading*/
    font-size: 1.75rem; /*font size for the subheading*/
    font-weight: bold;
    color: #000; /*color for the subheading*/
    max-width: 550px;
    padding: 0 50px 20px 60px; 
    margin-top: -90px;
    margin-bottom: 20px; /*margin below the subheading*/
}

@media (max-width: 768px) {
    .header-row h1{
        font-size: 1.5rem; 
        text-align: center;
        order: 1;
        padding: 0 20px 15px 20px; 
        margin: 0px auto 0px;
    }
}

@media (min-width: 768px) {
    .header-row h1{
        font-size: 1.5rem; 
        text-align: center;
        padding: -20px 20px 15px 20px; 
        margin: 0px auto 0px;
    }
}

@media (max-width: 480px) {
    .header-row h1{
        font-size: 1.2rem; 
        padding: 0 10px 10px 10px; 
        text-align: center;
        order: 1;
        margin: 0 auto 0px;
        text-align: center;
    }
}

.header-row p{
    font-family: 'lato', sans-serif; /*font family for the description*/
    font-size: 1.15rem; /*font size for the description*/
    color: #000; /*color for the description*/
    max-width: 700px;
    line-height: 1.5;;
    padding: 0 50px 20px 60px; 
    margin-top: 0;
    margin-bottom: 20px; /*margin below the description*/
}

@media (max-width: 768px) {
    .header-row p{
        font-size: 1rem; 
        text-align: center;
        margin: 0px auto 0;
        order: 2;
        padding: 0 20px 15px 20px; 
    }
}

@media (max-width: 480px) {
    .header-row p{
        font-size: 0.9rem; 
        order: 2;
        padding: 0 10px 10px 10px; 
        margin: 0px auto 0;
    }
}

.rect-container{
    position:relative;
    display: flex; /*to use flexbox for layout*/
    justify-content: center; /*to center the rectangles*/
    align-items: center; /*to center items vertically*/
    width: 90%;
    max-width: 800px;
    max-height: 800px;
    /*padding-top: 100%; /*to maintain aspect ratio*/
    aspect-ratio: 7/7;
    margin: -70px auto 0;
}

@media (max-width: 768px) {
    .rect-container{
        max-width: 800px;
        max-height: 800px;
        aspect-ratio: 7/7;
        width: 90%;
        height: auto;
        margin: 5px auto 0;
        position: relative;
    }
}

@media (max-width: 480px) {
    .rect-container{
        max-width: 670px;
        max-height: 670px;
        aspect-ratio: 7/7;
        width: 95%;
        height: auto;
        margin: 5px auto 0;
        position: relative;
    }
}

/*.rectangle{
   position: absolute;
   height: 300px;
   width: 350px;
   background-color: #9fa292;
   transform-origin: center;
}*/

.rect1, .rect2{
    position: absolute;
    width: 85%;
    max-width: 600px;
    max-height: 500px;
    /*width: 600px;*/
    height: 500px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*to add a subtle shadow for depth*/
    transform-origin: center center;
}

.rect1{
    background-color: #A8864F;
    transform: rotate(174deg);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*to add a subtle shadow for depth*/
    z-index: 1;
    /*margin: 70px 100px 50px 100px;
    /*top: 50%;
    left: 50%;
    */
}

@media (max-width: 768px) {
    .rect1{
        transform: rotate(174deg);
        height: 500px;
        width: 85%;
    }
}

@media (max-width: 480px) {
    .rect1{
        transform: rotate(174deg);
        height: 400px;
        width: 95%;
    }
}

.rect2{
    background-color: #E6D1B0;
    transform: rotate(6deg);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    z-index: 2;
    /*top: 60%;
    left: 60%;*/
    
}

@media (max-width: 768px) {
    .rect2{
        transform: rotate(6deg);
        height: 500px;
        width: 85%;
    }
}

@media (max-width: 480px) {
    .rect2{
        transform: rotate(6deg);
        height: 400px;
        width: 95%;
    }
}

.image{
    position: absolute;
    object-fit: contain;
    z-index: 3;
    width: 600px;
    height: auto;
    /*border-radius: 50%; /*to make the image circular*/
    /*overflow: hidden; /*to hide overflow content*/
}

@media (max-width: 768px) {
    .rect1, .rect2{
        position: absolute;
        width: 85%;
        /*width: 400px;*/
        max-width: 400px;
        max-height: 300px;
        height: 500px;
    }
}

@media (max-width: 480px) {
    .rect1, .rect2{
        width: 95%;
        max-width: 300px;
        max-height: 200px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .image{
        width: 85%;
        max-width: 600px;
        max-height: 500px;
        height: auto;
   }
}

@media (max-width: 480px) {
    .image{
        width: 95%;
        max-width: 470px;
        max-height: 370px;
        height: auto;
    }
}

#projects{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    /*padding: 80px 20px;*/
}

@media (max-width: 768px) {
    #projects{
        font-size: 1.5rem; 
        padding: 30px 10px; 
        text-align: center;
    }
}

@media (max-width: 480px) {
    #projects{
        font-size: 1.2rem; 
        padding: 20px 5px;
        text-align: center;
        margin-bottom: 10px; 
    }
}

#project1, #project2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*font-family: "lato", sans-serif;*/
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {
    #project1, #project2{
        font-size: 1.2rem; 
        padding: 15px;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    #project1, #project2{
        font-size: 1rem; 
        padding: 10px;
        width: 95%;
        margin: 0 auto;
    }
}

.project-item p{
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    /*max-width: 700px;*/
    text-align: justify;
    color: #000;
    padding: 15px 20px;
    margin: 10px 0; 
}

#font-weight{
    font-size: 1.005rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .project-item p{
        font-size: 0.9rem; 
        padding: 10px 15px; 
        line-height: 1.75;
        margin: 5px 0; 
    }
}

@media (max-width: 480px) {
    .project-item p{
        font-size: 0.8rem; 
        padding: 5px 10px; 
        line-height: 1.75;
        margin: 5px 0; 
    }
}

.project-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
    margin: 20px 35px 20px 35px;
}

@media (max-width: 768px) {
    .project-images{
        flex-direction: column; 
        align-items: center;
        gap: 10px;
        width: 100%;
        margin: 10px 10px 
    }
}

@media (max-width: 480px) {
    .project-images{
        flex-direction: column; 
        align-items: center;
        gap: 5px;
        width: 100%;
        margin: 5px 5px;
    }
}

.project-images img{
    flex: 1 1 calc(33.33% - 20px); /*to allow images to grow and shrink as needed*/
    max-width: 100%;
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
}


@media (max-width: 768px) {
    .project-images img{
        flex: none;
        width: 50%;
        /*max-width: 600px;*/
        height: auto;
        padding: 5px;
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    .project-images img{
        flex: none;
        width: 70%;
        /*max-width: 400px;*/
        height: auto;
        padding: 5px;
        border-radius: 10px;
    }
}

.project-images img:hover{
    transform: scale(1.05); 
    transition: transform 0.3s ease; /*smooth transition for hover effect*/
}


.github-link{
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    background-color: #F0E4D3;
    color: #000;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease; /*smooth transition for hover effect*/
    padding: 15px 20px;
    margin-left: 20px;
    border-radius: 8px;
    text-decoration: none; /*to remove underline from links*/

}

@media (max-width: 768px) {
    .github-link{
        font-size: 0.9rem; 
        padding: 10px 10px; 
    }
}

@media (max-width: 480px) {
    .github-link{
        font-size: 0.8rem; 
        padding: 5px 10px; 
    }
}

.github-link:hover, .github-link:focus{
    background-color: #7d8e34;
    color: #ffffff; 
}


.projects-part{
    background-color: #fdfbf9;
    padding: 40px 0;

}

.about-me-part{
    background-color: #f9f6f0;
    padding: 40px 0;
}

.my-skills{
    background-color: #fdfbf9;
    padding: 40px 0;
}

#about{
    text-align: center; 
    font-size: 2.1rem;
    font-weight: bold;
}

.about-part{
    margin: 0 5px;
}

.about-part p{
    font-family: 'lato', sans-serif;
    font-size: 1.05rem;
    line-height: 1.5;
    /*background-color: #;*/
    font-weight: 400;
    color: #000;
    padding: 15px 20px;
    margin: 10px 0; 
}

@media (max-width: 768px) {
    .about-part p{
        font-size: 0.9rem; 
        padding: 10px 15px; 
    }
}

@media(max-width: 480px){
    .about-part p{
        font-size:0.8rem;
        padding: 5px 10px;
    }
}

.skills-list, .achievement-list, .points{
    font-family: "lato", sans-serif;
    font-size: 1rem;
    font-weight: 410;
    list-style: disc inside;
    line-height: 1.5;
    column-gap: 5px;
    line-height: 0.4;
    color: #000;
    padding: 15px 10px;
}

.skills-list{
    column-count: 3;
}

.achievement-list{
    line-height: 1.5;
}

@media (max-width: 768px) {
    .skills-list, .achievement-list, .points{
        font-size: 0.9rem; 
        padding: 10px 5px; 
        text-align: justify;
        line-height: 1.5;
        list-style: disc inside;
    }
}

@media(min-width: 1000px){
    .points, .skills-list{
         line-height: 1;
    }
}

@media(min-width: 1000px){
    .skills-list{
         column-count: 2;
    }
}

@media(max-width: 480px){
    .skills-list, .achievement-list, .points{
        font-size:0.8rem;
        padding: 5px 2.5px;
        text-align: justify;
        line-height: 1.5;
        list-style: disc inside;
    }
}

@media(max-width: 480px){
    .skills-list{
         column-count: 1;
    }
}

.skills-list li, .achievement-list li, .points li{
    margin: 10px 10px;
    padding: 10px 10px;
    break-inside: avoid;
    /*line-height: 1.5;*/
}

@media(max-width: 768px){
    .skills-list li, .achievement-list li, .points li{
        margin: 5px 10px;
        line-height: 1.5;
    }
}

@media(max-width: 1000px){
    .skills-list li, .achievement-list li, .points li{
        margin: 5px 10px;
        line-height: 1.5;
    }
}

@media(max-width: 480px){
    .skills-list li, .achievement-list li .points li{
        margin: 3px 7px;
        line-height: 1.5;
    }
}

.contacts-part{
    padding: 50px 0px;
    margin: 0;
    /*min-height: ;*/
}


#contact, #education1, #work{
    /*background: #F0E4D3; /*background color for the contact section*/
    /*padding: 50px 0; /*padding for spacing*/
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    #contact, #education1, #work{
        font-size: 1.5rem; 
        padding: 30px 10px;
        margin-top: 0; 
    }
}

@media (max-width: 480px) {
    #contact, #education1, #work{
        font-size: 1.2rem; 
        padding: 20px 5px;
        text-align: center;
        margin-bottom: 10px; 
    }
}

.contact-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .contact-info{
        flex-direction: column; 
        align-items: center;
        gap: 10px;
        width: 100%;
    }
}

#email, #address, #phone{
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    background-color: #F0E4D3;
    padding: 15px 20px;
    border-radius: 8px;
   /* margin: 10px 0; /*margin for spacing*/
}

@media (max-width: 768px) {
    #email, #address, #phone{
        flex-direction: column;
        width: 90%;
        align-items: center;
        text-align: center;
        font-size: 0.9rem; 
        padding: 10px 15px; 
    }
}

.education{
    background-color: #fdfbf9;
    padding: 40px 0;
    margin-top: -5px;
    overflow: visible;
    min-height: calc(100vh - 100px); /*to fill the viewport height minus the header height*/
}

.work-experience{
    margin: 0;
    padding: 40px 0;
    background-color: #f9f6f0;
}

@media (max-width: 768px) {
    .work-experience{
        line-height: 1.5; 
    }
}

@media(max-width: 480px){
    .work-experience{
        line-height: 1.5;
    }
}

.experience{
    font-family: "lato", sans-serif;
    margin: 0 20px;
}

.me-part{
    margin:  0 5px;
}

#program, #position{
    font-size: 1.07rem;
    font-weight: bold;
    margin:auto;
}

#school, #place{
    font-size: 0.9rem;
    font-weight: bold;
}

#modules, #responsibilities{
    font-size: 0.9rem;
    font-weight: bold;
}

.education p{
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    /*max-width: 700px;*/
    text-align: justify;
    color: #000;
    padding: 15px 20px;
    margin: 10px 0; 
}


